* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
    color:black;

}

#destaque a {
    background-color:  rgb(134, 191, 237);
    padding: 5px;
    border-radius: 8px;
    text-decoration: none;
    color:black

}

header {
    display: flex;
    flex-direction: row;
    background-color: #B7D7EA;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 20px;
}

#logo-titulo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
#logo-header img {
    width: 200px;
    padding: 20px;
    object-fit: cover;
}

#texto-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
}

texto-header h1 {
    color:rgb(35, 35, 35);
}

#menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:25%;
}

#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap:20px;
    padding: 20px;
}

#menu-destaque {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 20%;
}

#destaque {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#menu a {
    background-color: rgb(134, 191, 237);
    padding: 5px;
    border-radius: 8px;
    text-decoration: none;
    color:black;
}

span{
    color: rgb(22, 36, 195);
}

#hero h2 {
    font-size: 50px;
    font-weight: 900;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(35, 35, 35);
}

#hero p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color:black;
}

#texto-hero {
    padding: 20px;
}

#texto-hero h2 {
    font-size: 50px;
}

#texto-hero p {
    font-size: 16px;
}

#texto-hero b {
    color:  rgb(22, 36, 195);
}

#img-hero img {
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    object-fit: cover;
}

#botao {
    display: flex;
    flex-wrap: wrap;
    gap:16px;
    margin-top: 20px;
}

#botao a {
    background-color: rgb(110, 179, 219);
    padding: 5px;
    border-radius: 8px;
    text-decoration: none;
}

#hero {
    background-color: #8DBEDC;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.frase1 {
    background-color: white;
    border-radius:20px;
    width: 500px;
    height:150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    flex-wrap: wrap;
    margin: 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
}

#introducaocards1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    gap:10px;
}

.frase1 h3 {
    text-align: center;
}

#quadrado2 {
    background-color: #64A4CE;
}

#quadrado3 {
    background-color: #8DBEDC;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

#quadrado3 b {
    color: rgb(22, 36, 195);
}

#introbotao2 {
    display: flex;
    align-items: center;
    padding-top: 20px;
    text-align: center;

}

.botao2 {
    background-color:rgb(110, 179, 219);
    border-radius: 10px;
    height: 40px;
    width: 250px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

.botao2 a {
    text-decoration: none;
    color:black;
}

#quadrado4 {
    display: flex;
    align-items: center;
    background-color: rgb(177, 215, 238);
    height: 80px;
    padding-top: 20px;
    padding-left: 20px;
    justify-content: space-between;
}

#introbotao3 {
    display: flex;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    gap: 10px;
}

.botao3 {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items:flex-start;
    background-color: rgb(110, 179, 219);
    height: 40px;
    width: 200px;
    border-radius: 12px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
}

.botao3 a {
    text-decoration: none;
    color: black;
}

#destaques {
    padding: 20px;
}
